/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  overflow: hidden;
}
#landing {

}
#landing {

}
#dashboard {
  margin-top: -15px;
  display: none;
}
#dashboard p {
  color: darkgrey;
  font-size: 20px;
}
#dashboard input {
  width: 27vw;
  margin: 0 10px;
}
#landing, .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  padding: 5px;
  border: none;
  font-size: 18px;
  height: 35px;
}
#username, #password {
  margin-right: 5px;
}
#password {
  margin-right: 5px;
  margin-left: 5px;
}
#submit, #save, #exit {
  margin-left: 5px;
  background-color: #0747A6;
  border: none;
  width: 100%;
  padding: 5px;
  font-size: 18px;
  color: white;
  height: 35px;
}
#exit {
  margin-left: 10px;
  background-color: indianred;
}
#exit:hover {
  margin-left: 10px;
  background-color: red;
}
#save {
  width: 15vw;
}
#close {
  position: fixed;
  right: 0;
  top: 0;
  color: white;
  border: none;
  border-radius: 0;
  background-color: indianred;
  border-bottom-left-radius: 10px;
  font-size: 8px;
  z-index: 2;
  cursor: pointer;
}
#close:hover {
  background-color: red;
  cursor: pointer;
}
#config {
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  border: none;
  border-radius: 0;
  background-color: darkgrey;
  border-bottom-right-radius: 10px;
  font-size: 8px;
  z-index: 2;
  cursor: pointer;
}
#config:hover {
  background-color: lightgrey;
  cursor: pointer;
}

body .ui-table .ui-table-thead > tr > th {
  font-size: 12px;
}